html {
  background-color: #4D2122

}

input {
  display: none
}

.game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  padding: 100px 0 100px 0;
  perspective: 5000px;
}

.cards{
  /* perspective: 1000px; */
  width: 80vw;
  text-align: center;
  background-color: #204E11;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em; 
  padding: 50px 15px 50px 15px;
}

.back {
  width: 225px;
  position: absolute;
  border-radius: 5%;
  transform-style: preserve-3d;
  cursor: pointer;
}

.back:hover {
    transform: rotateY(10deg);
    box-shadow: 0 20px 20px rgba(2, 1, 1, 0.2);
}

.back.flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: .7s
}

.front.flip {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: .7s
}



